* {
    margin: 0;
    padding: 0;
}

/* slide show start */
button {
    background-color: white;
    color: black;
    padding: 8px 30px;
    border: 1px solid white;

}

.slider-text h5 {
    font-size: 45px;

}