/* goolge font */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,400;1,300;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap');

body {
    font-family: 'PT Serif',
        serif;
    font-family: 'Roboto',
        sans-serif;
    font-family: 'Roboto Condensed',
        sans-serif;
    background-color: white;
}

/* header-section  start*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 10%;
}

.navbar li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* banner--section start */
.banner-secrion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    /* background-image: url("images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: calc(770px);
    background-size: 500px; */

}

.secrion-title {
    font-size: 60px;
}

.camera-img img {
    width: 400px;



}

.secrion-title {
    margin: 0;
    padding: 0;
}

.section-text p {
    font-size: 23px;
    color: grey;
}

.btn {
    text-decoration: none;
    font-size: 20px;
    background-color: #FF3C83;
    color: white;
    text-align: center;
    padding: 8px 15px;
    border-radius: 25px;

}

.btn i {
    margin-top: 8px;
    margin: 4px;
}

/* logos section start */

.logos {
    padding-top: 45px;

}

.logo {
    text-align: center;

}

.logo img {
    margin: 28px;
}

hr {
    width: 75%;
    height: 1px;
    background-color: #ccc;
    border: none;

}



/* card section start */

.top-cards h1 {
    text-align: center;
    font-size: 35px;
    color: gray;
}

.contaner {
    width: 100%;
    height: 100%;
    padding-top: 45px;

}

.top-cards {
    width: 75%;
    margin: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.card {
    background-color: #FFFFFF;
    margin: 10px;
    padding: 15px;
    box-shadow: 2px 4px 16px wheat;
    border-radius: 8px;
}

.icon i {
    color: orange;
    font-size: 12px;
}

.rating-text h2 {
    font-size: 25px;

}

.rating-text h4 {
    font-size: 20px;
    margin-bottom: 20px;

}

.smple-text {
    font-size: 18px;
    color: gray;

}

/* another banner section start */

.another-banner {
    width: 100%;
    padding-top: 30px;

}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 10px 15%;

}

.banner-text {}

.banner-text h1 {
    font-size: 40px;
}

.banner-text p {
    font-size: 20px;
    color: gray;
}

.small-btn {
    text-decoration: none;
    font-size: 20px;
    background-color: #FF3C83;
    color: white;
    text-align: center;
    padding: 8px 15px;
    padding-top: 10px;

}

/* footer section start */

footer {
    background-color: #120E43;
    margin-top: 80px;

}

.footer-text {
    text-align: center;
    color: white;
    padding: 25px 0;
}

.footer-text i {
    padding: 0 5px;
    font-size: 18px;
}