body {
    font-family: 'Roboto',
        sans-serif;
    font-family: 'Roboto Condensed',
        sans-serif;

    padding: 0;
    box-sizing: border-box;
}

.card-body {
    display: flex;
    width: 100%;
}

.importan {
    width: 35%;
}

.importan img {
    width: 300px;
    padding-right: 10px;

}

.hefe-width {
    width: 40%;
    margin-left: 75px;

}

#spcly-color {
    border-left: 4px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-image-slice: 1;
}

.color-style {
    padding-right: 10px;
    margin-left: 20px;
}


h1 {
    font-size: 50px;
    margin-left: 10px;
    margin-left: 10px;

}

h2 {
    color: sandybrown;
    font-size: 40px;
    text-transform: capitalize;
    margin-left: 10px;
}

p {
    font-size: 18px;
    color: gray;
}

.button {
    text-decoration: none;

    font-size: 20px;
    background-color: tomato;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.small {
    margin-top: 50px;
}

/* card section */

section {
    width: 100%;

}

.illustrator-img {
    width: 120px;
    margin-left: auto;

}

.title {
    text-align: center;
}

span {
    color: chocolate;
}

.sab-title {
    text-align: center;
}

.card-title {
    width: 33%;
    padding-left: 75px;

}

h3 {
    margin-left: 20px;
}

.important-text {
    margin-left: 15px;
}

#style-corol {
    background-color: burlywood;
    border-radius: 8px;
    margin: 4%;
    padding: 12px;

}

/*  */
.osm-img {
    width: 350px;
    padding-left: 90px;
    /* margin-bottom: 40%; */


}

.offical-section {
    display: flex;
    width: 100%;
    background-image: url("img/shape-1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px;
    margin: 3%;

}

.text-section {
    margin: 5px;
    margin-left: 3%;
}

h4 {
    font-size: 40px;
    margin-bottom: 30px;
}

.pra-text {
    font-size: 20px;

}

.small-btn {
    text-decoration: none;
    background-color: chocolate;
    color: white;
    padding: 15px;
    border-radius: 5px;

}

.project-section {
    background-image: url("img/shape-1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200px;


}

.project-section img {
    padding-top: 100px;
}

.header-section {
    width: 100%;
    display: flex;
    justify-items: end;

}

.header-text {
    padding: 15%;
}

.project-img {
    width: 350px
}

.off-img {
    margin: 2%;
    padding-right: 20px;
    margin-bottom: 30%;
}

.hollo {
    background-color: black;
}